*.d
*.so
*.pdf
*.png
*.root
*.pcm
*.out
!libPhysicsToolsKinFitter.so
PreselectedWithRegressionDeepCSV/Bias/
PreselectedWithRegressionDeepCSV/LMRSelection_chi2/fit/
PreselectedWithRegressionDeepCSV/MMRSelection_chi2/fit/
PreselectedWithRegressionDeepCSV/LMRSelection_chi2/fit/save/
PreselectedWithRegressionDeepCSV/MMRSelection_chi2/fit/save/
PreselectedWithRegressionDeepCSV/LMRSelection_chi2/fit_bias/
PreselectedWithRegressionDeepCSV/MMRSelection_chi2/fit_bias/
PreselectedWithRegressionDeepCSV/limits/
PreselectedWithRegressionDeepCSV/limits/LMR/save/
PreselectedWithRegressionDeepCSV/limits/MMR/save/
PreselectedWithRegressionDeepCSV/limits_bias/
InterpolateSignal_*
test.c
