*.d
*.so
*.pdf
*.png
*.root
*.pcm
!libPhysicsToolsKinFitter.so
PreselectedWithRegressionDeepCSV/Bias/
PreselectedWithRegressionDeepCSV/LMRSelection_chi2/fit/save/
PreselectedWithRegressionDeepCSV/MMRSelection_chi2/fit/save/
PreselectedWithRegressionDeepCSV/limits/LMR/save/
PreselectedWithRegressionDeepCSV/limits/MMR/save/
PreselectedWithRegressionDeepCSV/limits/
PreselectedWithRegressionDeepCSV/LMRSelection_chi2/fit/
PreselectedWithRegressionDeepCSV/MMRSelection_chi2/fit/
